@model IEnumerable<MVC_DataBase.Models.MonHoc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>Tên môn: @Html.TextBox("tenMon") -- @Html.DropDownList("MaKhoa", "All") <input type="submit" value="Tìm kếm" /></p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KhoaDaoTao.TenKhoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTinChi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KhoaDaoTao.TenKhoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaMon }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaMon }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaMon })
        </td>
    </tr>
}

</table>
