@model Cauu2.Models.Loaithietbi

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Loaithietbi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tenloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tenloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Danhmuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Danhmuc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Maloai }) |
    @Html.ActionLink("Back to List", "Index")
</p>
